/******************************************
    2. HEADERS
    3. MENU
    3. SUB-MENU
    4. CUERPO
    5. FOOTER
    6. CATEGORIAS
    7. CUPÓN


/******************************************
    HEADERS
/******************************************/
.header {
    min-width: 1080px;
    background: #222;
    z-index: 200;
    position: relative;
    margin-bottom: 20px;
}
.header .ls-header-top {
    position: relative;
    z-index: 20;
}
.header .ls-header-top-row {
    position: relative;
    z-index: 20;
    height: 60px;
}
.header a, .header a:hover {
    text-decoration: none;
}
.header .user-wrapper {
    width: 37%;
    z-index: 11;
    float: right;
}
.user-wrapper {
    padding: 11px 0 0;
}
.signed-out {
    margin-right: -8px;
}
.user-menu {
    margin: 0;
    float: right;
    position: relative;
    z-index: 2;
}
.user-menu-item {
    line-height: 15px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #a5a8ab;
    text-decoration: none;
    padding: 0 9px;
    margin: 0;
    border: solid #75787b;
    border-width: 0 1px 0 0;
    position: relative;
    cursor: pointer;
}
.ls-clubenko-logo {
    width: 160px;
    position: absolute;
    left: 0;
    z-index: 2;
    overflow: hidden;
    outline: 0;
    padding: 0 10px;
    height: 54px;
    line-height: 23px;
}
#ls-header-main {
    margin: 15px 10px 15px 160px;
}
.search-bar-wrapper {
    width: 63%;
    padding: 0 0 0 12px;
    z-index: 10;
}
.search-bar-v2 {
    position: relative;
    margin: 0;
}
.deal-search {
    width: 255px;
}

.search-box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 0;
    background: #fff;
    height: 35px;
    border: 0;
    padding: 0 0 0 35px;
    margin: 0 7px 0 0;
    font-weight: 400;
}
.deal-search>.ls-flex-placeholder, .location-search>.ls-flex-placeholder {
    padding: 0 0 0 35px;
}
.ls-flex-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #a5a8ab;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 35px;
    z-index: 1;
}
.search-bar-v2 input[type=search], .search-bar-v2 input[type=text] {
    font-weight: 400;
    z-index: 2;
    margin: 0;
    padding: 0 10px 0 0;
    font-size: 14px;
    background: transparent;
    border: 0;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.search-bar-icon:before {
    color: #a5a8ab;
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 9px;
    width: 18px;
    height: 18px;
    margin: -9px 0 0;
    text-align: center;
}

.deal-search input {
    width: 220px;
}
.location-search {
    width: 185px;
}
.ls-header-search-button.icon-magnifying-glass {
    position: relative;
}
.ls-header-search-button {
    font-weight: 400;
    color: #fff;
    height: 35px;
    width: 35px;
    min-width: 35px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    background: #0093ea;
    border: 0;
    font-size: 1.076923076923077em;
    vertical-align: middle;
}
.accessibility-hidden, .ax-hidden {
    position: absolute!important;
    height: 1px!important;
    width: 1px!important;
    clip: rect(1px,1px,1px,1px)!important;
    border: 0!important;
    overflow: hidden!important;
}
.typeahead-response {
    width: 340px;
    background: #fff;
    box-shadow: 0 0 14px rgba(51,51,51,.4);
    position: absolute;
    top: 45px;
    left: 0;
    display: none;
    z-index: 200;
    padding: 5px 0;
}
.ls-channel-nav {
    background-color: #333;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
}
#ls-primary-nav-row {
    z-index: 8;
}
.ls-channel-nav .row {
    position: relative;
}


/******************************************
    SUB-MENU
/******************************************/
.primary-nav {
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default;
    margin: 0;
    padding: 0 10px;
    list-style: none;
    font-weight: 300;
}
.primary-nav a {
    font-size: 18px;
    line-height: 45px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    z-index: 110;
    color: #d5d8db;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.primary-nav-tab:first-child {
    text-align: left;
}
.p-nav-divider, .primary-nav-tab {
    -ms-flex: 0 1 auto;
}
.primary-nav-tab {
    text-align: center;
    padding: 0;
    cursor: default;
}
.p-nav-divider {
    color: #75787b;
    line-height: 20px;
    font-size: 1.538461538461539em;
    width: 6px;
    display: inline-block;
}

/******************************************
    MENÚ
/******************************************/

.subnav {
    position: absolute;
    width: 100%;
    z-index: 9;
}
.subnav-flyout {
    position: relative;
    background: #fff;
    box-shadow: 0 0 14px rgba(51,51,51,.4);
    clear: both;
}
.subnav-flyout .ls-flex-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0;
}
.subnav-flyout .flyout-column {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 10px;
    width: 25%;
    padding: 0;
    list-style: none;
}

.subnav-megamind {
    padding: 8px 0;
}
.subnav-megamind-widget {
    display: block;
    padding: 0;
    margin: 0 auto;
}
.subnav-megamind-widget img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.subnav-flyout .count {
    position: absolute;
    right: 6px;
    top: 8px;
    color: #75787b;
    background-color: #e6e7e8;
    border-radius: 10px;
    margin-top: 1px;
    padding: 0 7px;
    font-size: .846153846153846em;
    min-width: 26px;
    text-align: center;
    line-height: 16px;
}

/******************************************
    CUERPO
/******************************************/
#ls-in-app-messages {
    margin-bottom: 10px;
}
#ls-in-app-messages #in-app-messages {
    max-width: 1080px;
    float: none;
    margin: 0 auto 10px;
}
#ls-in-app-messages .in-app-msg-banner {
    position: relative;
}
#ls-in-app-messages .in-app-msg-banner img {
    display: block;
    margin: 0 auto;
}
.hide-link {
    color: #d5d8db;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.hide-link:after, .icon-down-arrow-after:after, .icon-plus-after:after {
    font-family: clubenko;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    speak: none;
    text-transform: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    margin-left: 5px;
}
.hide-link:after {
    background: #fff;
    border-radius: 7px;
    color: #909090;
    content: "\e002";
    font-size: 10px;
    padding: 1px;
}
.main {
    position: relative;
}
.module {
    background-color: #fff;
    margin-bottom: 20px;
}
#left-nav-categories .side-title {
    margin-bottom: 15px;
}
#left-nav-categories .side-title:before {
    padding-top: 10px;
}
#left-nav-categories .side-title:after {
    margin-top: 10px;
}
#left-nav-categories .side-title:after, #left-nav-categories .side-title:before {
    background: url(../../img/front/dotted.png) repeat-x;
    content: "";
    display: block;
    height: 1px;
}
#left-nav-categories .explore-icon {
    width: 21px;
    height: 15px;
    float: left;
    margin: 8px 0;
}
#left-nav-categories h2 {
    margin: 0 0 0 30px;
}
#left-nav-categories ul {
    list-style: none;
    padding: 0;
}
#left-nav-categories li {
    font-size: 15px;
    margin-bottom: 12px;
}
#left-nav-categories li a {
    color: #333;
    text-decoration: none;
}
#left-nav-categories li a:hover {
    color: #0185c6;
}
#left-nav-categories .counter {
    color: #888;
    font-size: 11px;
}

figure.hero-deal {
    height: 424px;
    overflow: hidden;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-deal {
    border: 1px solid #f2f2f2;
    position: relative;
}
.hero-deal .container-link {
    display: block;
    width: 100%;
    height: 100%;
}
.hero-deal figcaption {
    background: #222;
    background: rgba(0,0,0,.75);
    bottom: 0;
    left: 0;
    padding: 15px 20px;
    position: absolute;
    width: 100%;
}
.hero-deal h2, .hero-deal h2 a {
    color: #fff;
}

.hero-deal h2, .hero-deal p {
    margin: 0;
}
figure.hero-deal .deal-title {
    font-size: 24px;
    color: #fff;
    width: 500px;
    height: 30px;
}
figure.hero-deal .deal-metadata .deal-location, figure.hero-deal .deal-metadata .merchant-name {
    height: 22px;
}
figure.hero-deal .deal-location:before {
    content: "\e027";
    font-family: clubenko;
    font-size: 14px;
    height: 16px;
    padding: 0 2px 0 0;
    position: relative;
    top: 1px;
    width: 8px;
}
figure.hero-deal .deal-price {
    height: auto;
}

.hero-deal .deal-price {
    font-size: 16px;
    text-align: inherit;
    color: #53a318;
}
.hero-deal .deal-price .original-price {
    color: #888;
}
.hero-deal .view-deal {
    height: 50%;
    bottom: 25px;
    position: absolute;
    right: 30px;
}
.block-grid.four-up {
    margin: 0 -10px;
}
.block-grid:after, .block-grid:before {
    content: "";
    display: table;
}
.four-pack .deal-card {
    width: 25%;
    padding: 0 10px 10px;
}

.block-grid .deal-card {
    margin: 0 -4px 0 0;
    display: inline-block;
    vertical-align: top;
}
.block-grid .deal-card a {
    display: block;
    position: relative;
    background: #f2f2f2;
    transition: box-shadow .1s linear,top .1s linear;
    text-decoration: none;
}
.block-grid .deal-card figcaption .deal-title {
    padding: 12px 16px 0;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #333;
    text-decoration: none;
    height: 60px;
}
.should-truncate {
    overflow: hidden;
}
.block-grid .deal-card figcaption .deal-location, .block-grid .deal-card figcaption .merchant-name {
    padding: 0 16px;
    display: block;
    min-height: 21px;
    margin: 0;
    color: #888;
}
.four-pack .deal-card .deal-location, .four-pack .deal-card .merchant-name, .three-pack-small .deal-card .deal-location, .three-pack-small .deal-card .merchant-name, .three-pack .deal-card .deal-location, .three-pack .deal-card .merchant-name {
    height: 22px;
}
.block-grid .deal-card figcaption .deal-location:before {
    color: #888;
    position: relative;
    top: 1px;
    height: 16px;
    font-size: 14px;
    width: 13px;
    padding: 0;
    left: -2px;
}
.block-grid .deal-card figcaption .deal-price {
    font-size: 18px;
    padding: 0 16px 6px 0;
    margin: 0;
    color: #82b548;
    text-align: right;
}
.block-grid .deal-card figcaption .deal-price .original-price {
    font-size: 16px;
    color: #888;
    text-decoration: line-through;
}
#view-all-deals {
    margin: 20px 0;
}


/******************************************
    FOOTER
/******************************************/
.ls-footer {
    background: #222;
    color: #a5a8ab;
    font-size: 12px;
    line-height: 18px;
    padding: 35px 0;
    clear: both;
    position: relative;
    z-index: 10;
}
.res-fo-wrapper {
    padding: 0 10px;
}
.footer-payload {
    width: 74.5%;
    padding: 0 15px 0 0;
}
.footer-sitemap {
    margin: 0 -10px;
    padding: 0 0 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.footer-sitemap .ls-footer-sitemap-col {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 10px;
}
.footer-gsm h6, .footer-sitemap h6 {
    font-size: 1.083333333333333em;
    line-height: 24px;
    margin: 0 0 6px;
    color: #a5a8ab;
}
.footer-links a {
    display: block;
    max-width: 180px;
}

.ls-footer a {
    color: #a5a8ab;
}
.ls-footer .follow-us-link {
    margin: 0 3px 0 0;
    border-radius: 50%;
    border: 2px solid #a5a8ab;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    line-height: 25px;
    padding: 3px 0;
    text-align: center;
}
.footer-gsm {
    padding: 0;
    margin-bottom: 23px;
}
.footer-copyright {
    margin: 10px 0;
}
.footer-copyright-links {
    padding: 0 0 0 10px;
}
.footer-copyright-links a {
    display: inline-block;
    margin: 0 10px 0 0;
}
.footer-european-odr {
    padding: 5px 0 0;
}
.footer-european-odr a {
    text-decoration: underline;
}
.footer-widgets {
    width: 25.5%;
}
.footer-widget-mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-widget {
    display: block;
    background: #333;
    padding: 15px;
    margin: 0 0 15px;
    min-height: 46px;
}
.footer-widget-mobile .footer-widget-image {
    -webkit-flex: 0 0 47px;
    -ms-flex: 0 0 47px;
    flex: 0 0 47px;
}
.footer-widget-image {
    color: #fff;
    font-size: 16px;
}
.svg-clubenko-mobile {
    height: 64px;
}
.footer-widget-mobile .footer-widget-headline {
    margin: 0 0 0 15px;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.footer-widget-headline {
    font-weight: 300;
    line-height: 21px;
    font-size: 17px;
    color: #a5a8ab;
    display: block;
}
.footer-widget-headline .icon-arrow-right-large {
    font-size: 10px;
    vertical-align: middle;
}
.footer-widget-works .footer-widget-image {
    color: #53a318;
}
.svg-clubenko-merchant {
    width: 100%;
    max-width: 194px;
    max-height: 17px;
}


/******************************************
    CATEGORIAS
/******************************************/
#pull-page-header .title
{
    font-size: 35px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
#pull-page-header {
    position: relative;
    border: none;
    margin-bottom: 16px;
}
.modal-title, .page-title, h1 {
    font-size: 3.6rem;
    font-weight: 300;
}
#pull-static-map-wrapper {
    margin-bottom: 17px;
    cursor: pointer;
    position: relative;
}
#pull-static-map-wrapper .btn-secondary-wrapper {
    position: absolute;
    opacity: .9;
    padding: 10px;
    text-align: center;
    width: 100%;
    top: 50%;
    margin-top: -29px;
}
.c-bg-white, .ca-bg-white:active, .cf-bg-white:focus, .ch-bg-white:hover {
    background-color: #fff!important;
}
#pull-static-map-wrapper .btn-secondary {
    width: 100%;
}
#refinement-ui {
    padding: 0 0 70px;
    z-index: 9;
    padding-top: 8px;
}
#refinement-ui #reset-all-container {
    padding-top: 8px;
}
#refinement-ui .refinement-box h4 {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 0;
    padding-bottom: 5px;
}
#refinement-ui h4 {
    color: #333;
    font-size: 16px;
    font-weight: 700;
}
#refinement-ui .refinement-box ul {
    padding-top: 10px;
}
#refinement-ui ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#refinement-ui .refinement-box li.refinement {
    display: block;
}
#refinement-ui .refinement-box li, #refinement-ui .refinement-box li a {
    color: #333;
    font-size: 13px;
}
#refinement-ui .refinement-box li {
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 7px;
}
#refinement-ui .refinement-box a:hover {
    color: #0185c6;
    text-decoration: none;
}
#refinement-ui ul.children-list.expanded {
    display: block;
}
#refinement-ui ul.children-list {
    display: none;
    padding: 0 0 0 15px;
}
#refinement-ui ul.children-list li:first-child {
    margin-top: 8px;
}
#pull-results{
    padding: 0;
}
#pull-dynamic-map {
    height: 350px;
    margin-bottom: 20px;
    padding: 0 10px;
    position: relative;
}
.cui-four-up .cui-c-deal.cui-c-deal-featured.v1, .cui-three-up .cui-c-deal.cui-c-deal-featured.v1, .cui-two-up .cui-c-deal.cui-c-deal-featured.v1 {
    width: 100%;
    height: auto;
    min-height: 0;
    min-height: 1px;
}
.cui-c-deal.cui-c-deal-featured.v1 {
    padding: 0 10px;
    display: table;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-image-container {
    display: table-cell;
    min-width: 180px;
}
.card-ui {
    box-sizing: border-box;
    float: left;
    margin: 0 0 20px;
    padding: 0 10px;
    position: relative;
    width: 100%;
}
.cui-two-up .cui-c-deal.v1 {
    width: 50%;
}
.card-ui .cui-image-container {
    position: relative;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-bg-image {
    height: 259px;
    width: 100%;
    display: block;
    background-position: 50%;
    background-size: cover;
}
.cui-c-deal.cui-c-deal-featured.v1 figcaption {
    display: table-cell;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 0 20px;
    position: relative;
    vertical-align: top;
    width: 273px;
    max-width: 273px;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-merchant-name {
    margin: -2px 0 5px;
    padding: 0;
}

.card-ui .cui-merchant-name {
    display: block;
    height: 20px;
    margin: 0;
    min-height: 20px;
    padding: 0 16px;
    line-height: 20px;
}

.card-ui .cui-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 93%;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-title {
    font-weight: 400;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-title a {
    height: 42px;
    display: block;
}
.c-txt-black, .ca-txt-black:active, .cf-txt-black:focus, .ch-txt-black:hover {
    color: #333!important;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-description {
    max-height: 60px;
    margin: 0 0 17px;
    overflow: hidden;
}
.c-txt-gray-md, .ca-txt-gray-md:active, .cf-txt-gray-md:focus, .ch-txt-gray-md:hover {
    color: #a5a8ab!important;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-location {
    position: relative;
    width: 253px;
    margin: 0 0 7px;
    line-height: 18.8px;
    padding: 0;
}
.card-ui .cui-location.cui-truncate {
    white-space: normal;
    width: 100%;
}
.card-ui .cui-location {
    height: 20px;
    padding: 0;
}
.ltr .cui-c-deal.cui-c-deal-featured.v1 .cui-location:before {
    left: -1px;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-location:before {
    content: "\e027";
    display: inline-block;
    font-family: clubenko;
    font-size: 14px;
    height: 16px;
    padding: 0;
    position: relative;
    top: 1px;
    width: 13px;
}

.ltr .card-ui .cui-location.cui-has-distance .cui-location-name {
    left: -1px;
}
.card-ui .cui-location.cui-truncate .cui-location-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-ui .cui-location.cui-has-distance .cui-location-name {
    max-width: calc(90% - 63px);
}
.card-ui .cui-location .cui-location-name {
    max-width: calc(100% - 17px);
}
.card-ui .cui-location .cui-location-distance, .card-ui .cui-location .cui-location-name {
    vertical-align: top;
    display: inline-block;
    height: 20px;
}
.card-ui .cui-location .cui-location-distance {
    max-width: 70px;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container {
    padding: 0;
    min-height: 30px;
    margin: 0;
}
.cui-c-deal.v1 .cui-price-promotions-container {
    height: 60px;
    padding: 0 16px 6px;
    margin-top: 16px;
    display: table;
    width: 100%;
}
.ltr .cui-four-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price, .ltr .cui-three-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price, .ltr .cui-two-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price {
    text-align: left;
}
.cui-four-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price, .cui-three-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price, .cui-two-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price {
    position: relative;
    margin: 0;
    padding-top: 0;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price {
    position: relative;
    font-size: 24px;
}
.card-ui .cui-price-promotions-container .cui-price {
    display: table-cell;
}
.card-ui .cui-price {
    min-height: 33px;
    padding: 0;
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    text-align: right;
}
.cui-four-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price .cui-price-original, .cui-three-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price .cui-price-original, .cui-two-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price .cui-price-original {
    position: static;
}
.card-ui .cui-price .cui-price-original {
    font-size: 14px;
    text-decoration: line-through;
}
.c-txt-gray-dk, .ca-txt-gray-dk:active, .cf-txt-gray-dk:focus, .ch-txt-gray-dk:hover,
#pull-pagination .pagination li a {
    color: #75787b!important;
}
.cui-four-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price .cui-price-discount, .cui-three-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price .cui-price-discount, .cui-two-up .cui-c-deal.cui-c-deal-featured.v1 .cui-price-promotions-container .cui-price .cui-price-discount {
    font-size: 21px;
}
.c-txt-price, .ca-txt-price:active, .cf-txt-price:focus, .ch-txt-price:hover {
    color: #53a318!important;
}
.card-ui .cui-price .cui-price-descriptor {
    font-size: 10px;
}
.ltr .cui-c-deal.cui-c-deal-featured.v1 .cui-view-deal {
    text-align: right;
}
.cui-c-deal.cui-c-deal-featured.v1 .cui-view-deal {
    position: absolute;
    right: 0;
    bottom: 0;
}
.cui-c-deal.cui-c-deal-featured.v1:after {
    clear: both;
    content: "";
    display: table;
}
.cui-c-deal.v1 .cui-content {
    transition: box-shadow .1s linear,top .1s linear;
}
.cui-c-deal.v1 .cui-content:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.c-bg-gray-bg, .ca-bg-gray-bg:active, .cf-bg-gray-bg:focus, .ch-bg-gray-bg:hover {
    background-color: #f6f7f8!important;
}
.card-ui .cui-image-lazy-container, .card-ui .cui-image-non-lazy-container {
    overflow: hidden;
    position: relative;
}
.card-ui .cui-svg-placeholder {
    width: 100%;
    height: auto;
    display: block;
}
.card-ui .cui-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}
.cui-c-deal.v1 img {
    display: block;
    height: auto;
    width: 100%;
}
.cui-c-deal.v1 figcaption {
    position: relative;
    padding: 0;
}
.cui-c-deal.v1 .cui-deal-title {
    font-size: 18px;
    height: 60px;
    line-height: 22px;
    margin: 0 0 6px;
    padding: 12px 16px 0;
}
.cui-c-deal.v1 .cui-location {
    padding: 0 16px;
}

#pull-pagination {
    width: 100%;
    display: inline-block;
}
#pull-pagination .pagination-container {
    margin: 70px 0 58px;
    text-align: center;
}
#pull-pagination .pagination {
    list-style: none;
    padding-left: 0;
    position: relative;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
}
#pull-pagination .pagination li {
    display: inline-block;
    padding: 0 7px;
    margin: 0 5px;
}
#pull-pagination .pagination-container span.next, #pull-pagination .pagination-container span.previous {
    visibility: hidden;
    width: 87px;
    margin-right: 11px;
    display: inline-block;
}
#pull-pagination .pagination div {
    display: inline-block;
    min-width: 388px;
}
#pull-pagination .pagination li.active {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    text-align: center;
    padding: 0 7px;
    margin: 0 8.5px;
}

#pull-pagination .pagination-container a {
    font-size: 14px;
    font-weight: 600;
    padding: 0 9px;
}
#pull-pagination .pagination-container a.next, 
#pull-pagination .pagination-container a.previous {
    border-radius: 2px;
    display: inline-block;
    line-height: 40px;
    padding-right: 14px;
    padding-left: 15px;
    margin-top: -40px;
}
#pull-pagination .pagination-container a.next{
    float: right;
}
#pull-pagination .pagination-container a.previous {
    float: left;
}

#pull-pagination .pagination-container a.next {
    margin-left: 11px;
}
#pull-pagination .pagination .icon-arrow-left-large, #pull-pagination .pagination .icon-arrow-right-large {
    display: inline-block;
    vertical-align: middle;
}
#pull-pagination .pagination .icon-arrow-right-large {
    padding-left: 14px;
}
#refinement-ui .refinement-name.selected .deal-counts {
    font-weight: 400;
}
.deal-counts {
    color: #888;
    font-size: 11px;
}
#refinement-ui .refinement-box label {
    cursor: pointer;
    font-weight: 400;
}
#refinement-ui .refinement-name.selected label {
    font-weight: 600;
}
.btn-secondary.hover, .btn-secondary:active, .btn-secondary:hover {
    background-color: #75787b;
    border-color: #75787b;
    color: #fff;
}
.c-bdr-prim, .ca-bdr-prim:active, .cf-bdr-prim:focus, .ch-bdr-prim:hover,
#pull-pagination .pagination li.active {
    border-color: #53a318!important;
}
.c-bg-prim, .ca-bg-prim:active, .cf-bg-prim:focus, .ch-bg-prim:hover {
    background-color: #53a318!important;
}
.c-txt-white, .ca-txt-white:active, .cf-txt-white:focus, .ch-txt-white:hover {
    color: #fff!important;
}
#refinement-ui .refinement-box .selected {
    color: #333;
}



/******************************************
    CUPÓN
/******************************************/

.deal {
    overflow: visible;
}
.module.deal .module-body {
    zoom: 1;
}
.deal>.module-body {
    padding: 0;
}
.module-body {
    padding: 0;
}
.module.deal .module-body:after, .module.deal .module-body:before {
    content: "";
    display: table;
}
.module-body hgroup {
    margin-bottom: 10px;
}
.modal-title, .page-title, h1 {
    font-size: 3.6rem;
    font-weight: 300;
}
.deal-page-title {
    font-size: 3.6rem;
    letter-spacing: -1px;
    line-height: 42px;
    margin: 0 12px;
}
.modal .row, .row .row {
    max-width: none;
    min-width: 0;
    width: auto;
}
.subtitle-modules {
    margin: 0;
}
.deal-subtitle, .subtitle-modules {
    color: #75787b;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 12px 12px 0;
}
.deal-subtitle a, .subtitle-modules a {
    color: #75787b;
}
.star-rating-text {
    font-weight: 300;
    line-height: 18px;
}
.ugc-star-ratings .star-rating-text {
    color: #75787b;
}
#purchase-cluster {
    padding-right: 0;
    padding-left: 20px;
}
#purchase-cluster .purchase-cluster-container {
    padding: 0 1px;
}
#purchase-cluster .buy {
    margin-bottom: 12px;
    position: relative;
}
.t-pod.multi-option-breakout, .t-pod.multi-option-overlay-list {
    background: #fff;
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
}
.t-pod.multi-option-breakout li, .t-pod.multi-option-overlay-list li {
    padding-bottom: 14px;
}
.t-pod.multi-option-breakout li, .t-pod.option-list li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    position: relative;
}
.t-pod.multi-option-breakout li, .t-pod.multi-option-breakout p, .t-pod.multi-option-overlay-list li, .t-pod.multi-option-overlay-list p {
    line-height: 1.3;
}
.t-pod.multi-option-breakout li:not(:last-child), .t-pod.option-list li:not(:last-child) {
    border-bottom: 1px solid #e6e7e8;
}

.t-pod.multi-option-breakout div, .t-pod.multi-option-overlay-list div {
    border: 0;
    padding: 0;
}
.t-pod.multi-option-breakout .option, .t-pod.option-list .option {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    padding-top: 0;
}
input[type=checkbox], input[type=radio] {
    opacity: 0;
    position: absolute;
}
input[type=checkbox], input[type=radio] {
    padding: 0;
    margin: 0 1px 0 0;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
}
input, textarea {
    font-weight: 200;
    font-family: OpenSans,Helvetica Neue,Helvetica,Arial,FreeSans,sans-serif;
}
.t-pod.multi-option-breakout .option label, .t-pod.option-list .option label {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}
input[type=checkbox]+label, input[type=radio]+label {
    cursor: pointer;
    position: relative;
    font-weight: 400;
    padding-left: 2.2em;
}
.t-pod.multi-option-breakout li .option input[type=radio]+label:before, .t-pod.multi-option-overlay-list li .option input[type=radio]+label:before {
    height: 1.8rem;
    width: 1.8rem;
}
.t-pod.multi-option-breakout .option input[type=radio]+label:before, .t-pod.option-list .option input[type=radio]+label:before {
    height: 20px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
}
.t-pod.multi-option-breakout div, .t-pod.multi-option-overlay-list div {
    border: 0;
    padding: 0;
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages, .t-pod.option-list .option-details .breakout-pricing-messages {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    font-size: 12px;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    line-height: 18px;
    padding-top: 8px;
}
.t-pod.multi-option-breakout li .option .breakout-pricing-messages, .t-pod.multi-option-overlay-list li .option .breakout-pricing-messages {
    padding-top: 18px;
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages .breakout-messages, .t-pod.option-list .option-details .breakout-pricing-messages .breakout-messages {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages .breakout-pricing, .t-pod.option-list .option-details .breakout-pricing-messages .breakout-pricing {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
}
input[type=radio]:checked+label:before {
    border-color: #53a318;
}
input[type=radio]+label:after, input[type=radio]+label:before {
    border-radius: 50%;
}
input[type=checkbox]+label:before, input[type=radio]+label:before {
    border: 1px solid #a5a8ab;
}
input[type=radio]:checked+label:after {
    background-color: #53a318;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages .breakout-pricing .breakout-option-value, .t-pod.option-list .option-details .breakout-pricing-messages .breakout-pricing .breakout-option-value {
    text-decoration: line-through;
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .breakout-option-value, .t-pod.option-list .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .breakout-option-value {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .breakout-option-price, .t-pod.option-list .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .breakout-option-price {
    font-weight: 600;
    padding-left: 5px;
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages .breakout-pricing .breakout-option-price, .t-pod.option-list .option-details .breakout-pricing-messages .breakout-pricing .breakout-option-price {
    font-size: 18px;
}
.t-pod.multi-option-breakout .breakout-option-price, .t-pod.multi-option-overlay-list .breakout-option-price {
    font-weight: 700;
}
.t-pod.multi-option-breakout .option input[type=radio]+label:after, .t-pod.option-list .option input[type=radio]+label:after {
    height: 14px;
    left: 0;
    margin: 0 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 14px;
}
#purchase-cluster .gift-wishlist-buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 20px;
}
.buy-for-friend-module {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.buy-for-friend {
    color: #75787b;
    font-size: 14px;
    height: 40px;
    padding: 9px 0;
    width: 100%;
}
.buy-for-friend .icon-gift {
    display: inline-block;
    font-size: 14px;
    margin: -2px 7px 0 0;
    position: static;
    vertical-align: middle;
}
.c-txt-brnd, .ca-txt-brnd:active, .cf-txt-brnd:focus, .ch-txt-brnd:hover {
    color: #53a318!important;
}
.t-pod.deal-highlights {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-top: 0;
    overflow: hidden;
    padding: 12px 0;
    width: 100%;
}
.is-web .t-pod.deal-highlights {
    border-top: 1px solid #d5d8db;
}
.t-pod.deal-highlights .columns {
    padding: 0 8px 4px;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.is-web .t-pod.deal-highlights div {
    border: 0;
    color: #75787b;
    padding: 0;
}
.t-pod.deal-highlights .columns a {
    color: #75787b;
}
.t-pod.deal-highlights .columns.four {
    width: 33.33%;
}
.t-pod.deal-highlights .columns .icon-container {
    height: 20px;
    line-height: 20px;
    margin-bottom: 6px;
}
.t-pod.deal-highlights .columns .icon {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
.t-pod.deal-highlights .columns .icon span:before {
    font-size: 20px;
}
.t-pod.deal-highlights .columns .text {
    line-height: 1.2;
}
.t-pod.deal-highlights .columns .icon .icon-star-filled {
    float: left;
    margin-right: 2px;
    position: relative;
}
.share-message {
    border-top: 1px solid #d5d8db;
    padding: 20px 0 0;
    color: #75787b;
    display: block;
    font-size: 11px;
    text-transform: uppercase;
}
.share-links {
    zoom: 1;
    list-style: none;
    padding: 4px 0 0;
    margin-bottom: 12px;
}
.share-links:after, .share-links:before {
    content: "";
    display: table;
}
.share-links li {
    display: block;
    margin: 0;
    padding: 0;
}
.share-links .email-share {
    clear: none;
}
.ltr .share-links li {
    float: left;
    margin-right: 5px;
}
.icon-background {
    background: transparent;
    border: 1px solid #a5a8ab;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 #333, inset 0 0 1px #d5d8db;
    box-shadow: 0 0 0 #333, inset 0 0 1px #d5d8db;
    color: #a5a8ab;
    display: inline-block;
    font-size: 2.5rem;
    height: 40px;
    margin: 0 2%;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    -moz-transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    -o-transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    -ms-transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    width: 40px;
}
.icon-email {
    padding-top: 2px;
}
.share-links .icon-background {
    background: transparent;
    border: 1px solid #a5a8ab;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 #333, inset 0 0 1px #d5d8db;
    box-shadow: 0 0 0 #333, inset 0 0 1px #d5d8db;
    color: #a5a8ab;
    display: block;
    font-size: 1.4rem;
    height: 28px;
    line-height: 18px;
    margin: 0;
    padding: 6px 0 4px 1px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    -moz-transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    -o-transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    -ms-transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    transition: color .5s ease,border .25s ease,box-shadow .25s ease;
    width: 28px;
}
#deal-info {
    border-right: 1px solid #e6e7e8;
    margin-right: 0;
    padding-right: 20px;
}
.featured-image-container {
    position: relative;
}
.deal figure {
    background-color: transparent;
    border-bottom: none;
}
.module.deal figure {
    margin: 0;
}
.ltr figure[data-bhw=FeaturedImage] {
    padding-right: 0;
}
.gallery-single {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}
.gallery-featured {
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}
.module {
    background-color: #fff;
    margin-bottom: 20px;
}
.write-up {
    padding-top: 30px;
}
.write-up {
    overflow: visible;
    position: relative;
}
.write-up>.module-body {
    padding-left: 0;
}
.ltr .write-up .pitch {
    padding-left: 0;
    padding-right: 0;
}
.write-up article>div {
    padding: 0 0 30px;
}
.write-up article h4 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 600;
}
.module.deal p {
    word-wrap: break-word;
}
.write-up article section h4 {
    color: #333;
    font-family: OpenSansRegular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
}
#tips {
    padding: 6px 0 20px;
}
.tip-widget-tips {
    display: inline-block;
    width: 100%;
}
.tip-widget-tips .tip-item {
    clear: both;
    min-height: 45px;
    float: left;
    width: 100%;
    line-height: 20px;
}
@media (min-width: 500px){
    .tip-widget-tips:not(.tips-mobile-container) .tip-item {
        margin: 10px 0;
    }
    .tip-widget-tips:not(.tips-mobile-container) .tip-text {
        width: 80%;
        width: calc(100% - 30px);
    }
}
.tip-widget-tips .tip-body {
    display: block;
    float: left;
}
.ugc-ellipsisable-tip {
    line-height: 1.4em;
}
.tip-widget-tips .tip-text {
    display: block;
    float: left;
    color: #55585b;
    clear: both;
}
.ugc-ellipsisable-tip.ellipsis {
    max-height: 5.6em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.tip-widget-tips .user-text {
    color: #b8b5bb;
    display: block;
    float: left;
    clear: both;
    font-size: 12px;
    margin: 3px 0 8px;
}
body.deal-page.getaways-booking .merchant-locations, body.deal-page.getaways .merchant-locations, body.deal-page .merchant-locations {
    margin: 20px 0 10px;
}
.merchant-locations.wide .g-map {
    padding: 0;
}
.merchant-locations #merchant-info-map, .modal-body.full-map #merchant-info-map {
    margin-bottom: 15px;
}
.g-map .dynamic-map, .g-map .static-map {
    height: auto;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}
.g-map .static-map {
    cursor: pointer;
}
.g-map .static-map img {
    width: 100%;
}
.g-map .faux-zoom {
    background: url(g_map-plusMinusDropShadow-db1c370d1b.png) 0 0 no-repeat;
    display: block;
    height: 65px;
    right: 6px;
    position: absolute;
    bottom: 20px;
    width: 35px;
    z-index: 20;
}
.merchant-locations ol, .modal-body.full-map ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
#locations-modal-map.wide .merchant-location, #locations-modal-map.wider-columns .merchant-location, .merchant-locations.wide .merchant-location, .merchant-locations.wider-columns .merchant-location, .merchant-row.wide .merchant-location, .merchant-row.wider-columns .merchant-location {
    position: relative;
}
.ltr .merchant-locations.wide .merchant-location {
    padding-left: 10px;
}
.c-bg-brnd, .ca-bg-brnd:active, .cf-bg-brnd:focus, .ch-bg-brnd:hover {
    background-color: #53a318!important;
}
#locations-modal-map .marker, .merchant-locations .marker, .merchant-row .marker {
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    margin-top: 3px;
    padding: 1px 4px;
    z-index: 2;
}
#locations-modal-map.wide .marker, .merchant-locations.wide .marker, .merchant-row.wide .marker {
    font-size: 12px;
    padding: 1px 9px;
    position: absolute;
    top: 0;
}
.ltr .merchant-locations.wide .marker {
    left: 10px;
}
#locations-modal-map .address, .merchant-locations .address, .merchant-row .address {
    display: block;
    margin: 0 0 10px;
    position: relative;
}
.ltr .merchant-locations .address {
    padding-left: 20px;
}
.ltr .merchant-locations.wide .address {
    padding-left: 32px;
}
.icon-marker-filled {
    left: 2px;
}
#locations-modal-map .icon-marker-filled, .merchant-locations .icon-marker-filled, .merchant-row .icon-marker-filled {
    font-size: 28px;
    line-height: 28px;
    position: absolute;
    top: 4px;
    z-index: 1;
}
#locations-modal-map.wide .icon-marker-filled, .merchant-locations.wide .icon-marker-filled, .merchant-row.wide .icon-marker-filled {
    font-size: 34px;
    top: 2px;
}
.fake-wls-widget .section-head {
    padding: 0 10px;
}
.fake-wls-widget .section-head a, .fake-wls-widget .section-head h2 {
    display: inline-block;
    text-decoration: none;
}
.fake-wls-widget .section-head h2 {
    color: #333;
    font-weight: 300;
}
.fake-wls-widget .section-head .view-all {
    padding: 0 10px;
}
.card-ui.cui-c-udc {
    background-color: #fff;
}
.card-ui.cui-c-udc {
    line-height: 1;
}
.cui-four-up .card-ui.cui-c-udc:not(.cui-c-udc-featured):not(.cui-udc-responsive) {
    width: 25%;
}
.c-bdr-gray-clr, .ca-bdr-gray-clr:active, .cf-bdr-gray-clr:focus, .ch-bdr-gray-clr:hover {
    border-color: #e6e7e8!important;
}
.card-ui.cui-c-udc .cui-content {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-transition: border-bottom .4s;
    -moz-transition: border-bottom .4s;
    -o-transition: border-bottom .4s;
    -ms-transition: border-bottom .4s;
    -khtml-transition: border-bottom .4s;
    transition: border-bottom .4s;
}
.card-ui.cui-c-udc .cui-udc-image-container {
    position: relative;
}
.card-ui.cui-c-udc img {
    display: block;
    height: auto;
    width: 100%;
}
.card-ui.cui-c-udc .cui-udc-image-container:after {
    content: "";
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -khtml-transition: opacity .4s;
    transition: opacity .4s;
}
.card-ui.cui-c-udc .cui-udc-details {
    height: 102px;
}
.card-ui.cui-c-udc .cui-udc-details.with-padding {
    padding: 0 8px;
}
.cui-four-up .card-ui.cui-c-udc:not(.cui-c-udc-featured):not(.cui-udc-responsive).cui-udc-display-stacked-row .cui-udc-details {
    height: 134px;
}
.cui-four-up .card-ui.cui-c-udc:not(.cui-c-udc-featured):not(.cui-udc-responsive) .cui-udc-stacked-rows {
    display: block;
    height: 78px;
    margin-bottom: 5px;
}
.card-ui.cui-c-udc .cui-location .cui-location-distance, .card-ui.cui-c-udc .cui-location .cui-location-name {
    height: 15px;
}
.card-ui.cui-c-udc .cui-price {
    min-height: 0;
    font-weight: 600;
    position: relative;
}
.card-ui.cui-c-udc .cui-price .cui-price-clo-superscript, .card-ui.cui-c-udc .cui-price .cui-price-original {
    font-size: 13px;
    font-weight: 400;
}
.card-ui.cui-c-udc .cui-price .cui-price-discount {
    font-size: 24px;
}
.cui-four-up .card-ui.cui-c-udc:not(.cui-c-udc-featured):not(.cui-udc-responsive) .cui-udc-stacked-rows .cui-price .cui-price-discount {
    font-size: 21px;
    display: inline-block;
}
.card-ui.cui-c-udc .cui-price .cui-price-descriptor {
    font-size: 13px;
    font-weight: 400;
}
.deal-crosslinks .module-body h4 {
    font-size: 24px;
    font-weight: 300;
    padding-left: 10px;
}
.deal-crosslinks .module-body li {
    font-size: 13px;
    line-height: 19px;
    list-style: none;
    padding-left: 0;
}
.deal-crosslinks .module-body li.city-name {
    color: #333;
    font-weight: 600;
    margin: 5px 0 0;
    text-transform: uppercase;
}
.deal-crosslinks a {
    color: #333;
}
.push-eight {
    position: relative;
    left: 66.667%;
}
.pull-four {
    position: relative;
    right: 33.333%;
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .discount-message-wrapper, .t-pod.option-list .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .discount-message-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row wrap;
    -ms-flex-direction: row wrap;
    flex-direction: row wrap;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .discount-message, .t-pod.option-list .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .discount-message {
    border: 1px solid;
    border-radius: 3px;
    display: table;
    padding: 0 8px;
}
.c-txt-prim, .ca-txt-prim:active, .cf-txt-prim:focus, .ch-txt-prim:hover {
    color: #53a318!important;
}
.t-pod.multi-option-breakout .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .pricing-options-wrapper, .t-pod.option-list .option-details .breakout-pricing-messages.with-discount-messaging .breakout-pricing .pricing-options-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row wrap;
    -ms-flex-direction: row wrap;
    flex-direction: row wrap;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.icon-star-filled {
    color: #ffc120;
}
.fa-clock-o{
    font-size: 21px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    line-height:1.2;
    color:#ddd;
    margin:0px;
}

.rating:not(:checked) > label:before {
    content: '\2605 ';
    border:none;
}

.product-reviews-rating,.rating > input:checked ~ label {
    color: #ffc120;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ffc120;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    ccolor: #ffc120;
}

#imagen-box-card{
    height: 150px;
    width: 100%;
}